@import './animations';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.link-active {
  @apply font-bold;
}

@layer components {
  .hyphens-none {
    hyphens: none;
  }
  .hyphens-manual {
    hyphens: manual;
  }
  .hyphens-auto {
    hyphens: auto;
  }
}
